<h1>User Profile: <%= @user.name %></h1>

<%= link_to "Home", root_path %>
<%= link_to "Back", :back %>

<h2>Created Events</h2>
<ul class="created-events">
  <%= render partial: "shared/event", collection: @user.created_events %>
</ul>

<h2>Attended Events</h2>
<ul class="attended-events">
  <h3>Past</h3>
  <%= render partial: "shared/event", collection: @user.attended_events.where("date < ?", Time.now.midnight) %>

  <h3>Upcoming</h3>
  <%= render partial: "shared/event", collection: @user.attended_events.where("date >= ?", Time.now.midnight) %>
</ul>
