<h1>Events</h1>

<nav>
  <ul>
    <% if user_signed_in? %>
      <li><%= link_to "New Event", new_event_path %></li>
      <li><%= link_to "See your profile", current_user %></li>
      <li><%= link_to "Edit account", edit_user_registration_path %></li>
      <li><%= button_to "Sign out", destroy_user_session_path, method: :delete %></li>
    <% else %>
      <li><%= link_to "Sign in", new_user_session_path %></li>
      <li><%= link_to "Sign up", new_user_registration_path %></li>
    <% end %>
  </ul>
</nav>

<div class="events-container">
  <% @events.each do |e| %>
    <div class="event">
      <h4><%= e.name %></h4>

      <%= link_to "See more", e %>
    </div>
  <% end %>
</div>
