<h1>Event Details</h1>

<%= link_to "Home", root_path %>
<%= link_to "Back", :back %>

<h2>Event name: <%= @event.name %></h2>

<p>Location: <%= @event.location %></p>

<p>Date: <%= @event.date.to_fs :long %></p>
