<h1>Event Details</h1>

<%= link_to "Home", root_path %>
<%= link_to "Back", :back %>

<p>Creator: <%= link_to @event.creator.name, @event.creator %></p>

<p>Event name: <%= @event.name %></p>

<p>Location: <%= @event.location %></p>

<p>Date: <%= @event.date.to_fs :long %></p>

<% if user_signed_in? && current_user == @event.creator %>
  <%= link_to "Edit event", edit_event_path(@event) %>
  <%= link_to "Delete event", @event, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
<% end %>

<p>
  Attendees:

  <ul>
    <% @event.attendees.each do |a| %>
      <li><%= a.name %></li>
    <% end %>
  </ul>

  <% if user_signed_in? %>
    <% if current_user == @event.creator %>
      <%= form_with url: event_attendances_path do |f| %>
        <%= f.hidden_field :event_id, value: @event.id %>
        <%# This select multiple done by Rails helpers is weird %>
        <%= f.select :new_attendee_ids, @non_attendees_options, multiple: true %>
        <%= f.button "Invite selected users" %>
      <% end %>
    <% elsif @event.attendees.exists?(current_user.id) %>
      <%= button_to "Stop attending this event",
      event_attendance_path,
      method: :delete,
      params: {
        event_id: @event.id,
        attendee_id: current_user.id,
      } %>
    <% elsif @event.public_status? %>
      <%= button_to "Attend this event", event_attendances_path, params: { event_id: @event.id, new_attendee_ids: [current_user.id] } %>
    <% end %>
  <% end %>
</p>
